<section>
    <h2>Crie seu própria sala</h2>
    <form action="/createroom" method="POST">
        <label class="scr-only" for="create-room">Insira uma senha</label>
        <input type="password" name="password" id="create-room" placeholder="Insira uma senha" required>
        <button>
            <img src="/images/users-btn-white.svg" alt="Criar Sala">
            Criar Sala
        </button>
    </form>
</section>