<section class="q-baloon">
    <div>
        <img src="/images/question-baloon.svg" alt="Imagem balão pergunta">
    </div>
    <h2>Nenhuma pergunta por aqui...</h2>
    <p>Faça sua primeira pergunta e envie o<br>
        código dessa sala para outras pessoas!</p>
</section>