.content {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 11.4rem 1fr;

    grid-template-areas:
        'header header'
        'left right';

    height: 100vh;
}

header {
    grid-area: header;
}

#bg {
    grid-area: left;

    background: url('/assets/bg-img.svg') no-repeat left/contain;

}

main {
    grid-area: right;

    display: flex;
    align-items: center;

}

main .container {
    width: 36.3rem;
}

main h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    font-size: clamp(20px, 5vw, 2.8rem);
    margin-bottom: 2.4rem;
}

input {
    border: .2rem solid var(--grey-blue);
    padding: 0 1.6rem;
    text-decoration: none;
}

input,
button,
.button {
    width: 100%;
    margin-bottom: 1.8rem;
}

/* remove setas do input number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.separator:before {
    content: "--------";
    float: left;
}

.separator {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.6rem;
}

.separator:after {
    content: "--------";
    float: right;
}