/* ROOM CSS */
@media (max-width: 480px) {
    .content {
        max-width: min(102rem, 90%);
    }

    .question-wrapper {
        padding: 1.4rem;
    }
}

@media (max-width: 768px) {
    #room header {
        display: grid; 
        justify-content: center;
    }

    #room header a {
        text-align: center;
    }

    #room .buttons {
        margin-top: 1.6rem;
    }
}

/* HOME.CSS AND CREATE-ROOM.CSS */
@media (max-width: 480px) {
    #home {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 8rem 26rem 1fr;
        grid-template-areas:
            'header'
            'left'
            'right';
    }

    #home header {
        display: grid;
        justify-content: center;
    }

    #bg {
        justify-content: center;
    }

    #bg img {
        width: 70%;
    }

    main {
        justify-content: center;
        align-items: flex-start;
    }

    main h2{
        font-size: 2.4rem;
        text-align: center;
    }
}

@media (min-width:481px) and (max-width: 768px) {
    #bg {
        justify-content: center;
    }

    #bg img {
        width: 65%;
    }

    .create {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 9rem 1fr 1fr;
    grid-template-areas:
        'header header'
        'left left'
        'right right';
    }

    .create header {
        width: 90%;
    }

    main{
        justify-content: center;
        align-items: flex-start;
    }

    main h2{
        text-align: center;
        font-size: 2.2rem;
    }

    main .container {
        display: flex;
        width: 90%;
        justify-content: center;
        margin-top: 2rem;
    }
}